<template name="search">
    <div class="container">
        <h4 class="search-title align-center">Find Your Friends</h4>
        <div class="row">
            <i class="material-icons medium coll sl">search</i>
            <div class="xol s11">{{>EasySearch.Input index=usersIndex}}</div>
        </div>
        <ul class="collection">
            {{#EasySearch.Each index=usersIndex}}
                <li class="collection-item">
                    <div>
                        {{username}}
                        {{#unless isYou}}
                        {{#if friended}}
                            <div class="secondary-content">
                                <i class="material-icons">done</i>
                            </div>
                        {{else}}
                        <a href="#!" class="add-friend secondary-content">
                            <i class="material-icons">person_add</i>
                        </a>
                        {{/if}}
                        {{/#unless}}
                    </div>
                </li>
            {{/EasySearch.Each}}
        </ul>
    </div>
</template>