<template name="home">
    {{#if currentUser}}
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2>Start New Game</h2>
            </div>
            <div class="row">
                <div class="col s6">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Friends</h4>
                        </li>
                        {{#if friends}} {{#each friends}}
                        <li class="container-item">
                            <div>
                                <a href="#">{{username}}</a>
                                <a class="secondary-content challenge-friend">
                                    <i class="material-icons">play-arrow</i>
                                </a>
                            </div>
                        </li>
                        {{/each}} {{/if}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <h4>Random User</h4>
                    <a class="waves-effect waves-light btn-large rand-user"><i class="material-icons right">shuffle</i>Random</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="card-panel">
                <h4>Your Turn</h4>
            </div>
        </div>
        <ul class="collection">
            {{#each yourGames}}
            <li class="collection-item avatar">
                {{#with opponentData}}
                <span class="title"><a>{{username}}</a></span> {{/with}}
                <p>Round: {{round}}</p>
                <div class="secondary-content">
                    <div class="chip">
                        Score: {{yourScore}} - {{opponentScore}}
                    </div>
                    &nbsp;
                    <a href="/game/{{_id}}" class="waves-effect btn">Play</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h3>Please create an account and log in to play.</h3>
            </div>
        </div>
    </div>
    {{/if}}
</template>